.itemDescription{
    font-size:0.7rem;
    text-align: center;
    font-weight: 300;
    line-height:0.82rem;
    text-align: center;
}

 .itemName{
    font-weight: 700;
    font-size:1.8rem;
    line-height:2.1rem;
    text-align: center;
}

.price{
    background-color:var(--background) ;
    height:15.4rem;
    width:16.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0.6rem;
    top: 17.6rem;
    left: 0.6rem;
    position: absolute;
}

.total >p{
font-weight: 700;
font-size: 1rem;
line-height: 1.5rem;
width:14.5rem;
height:1.5rem;
}

.total >h6{
font-weight: 500;
font-size: 1rem;
line-height: 1.5rem;
width:14.5rem;
height:2.15rem
}