.carousel-item >img{
    width:192.8px;
    height:172.8px;

   
}
.carousel-indicators [data-bs-target] {
    width: 12.8px;
    height: 12.8px;
    border-radius: 50%;
    background-color: var(--white)
}
.carousel-dark .carousel-indicators [data-bs-target]{
    background-color: var(--orange)
}

.carousel{
    width: 209.6px; 
    height: 209.6px;
    background-color:#FFFFFF;
    border-radius: 10px;
    top:34.4px;
    left: 73.6px;
    position: absolute;

  
}